// ----------------------------------------------
// Variables
// ----------------------------------------------


// Default
$primary-font:               'Roboto';
$default-size:               16px;
$default-linehieght:         24px;
$default-weight:             400;
$default-color:              palette(mono, black);


// button style
$btn-font:                   $primary-font;
$btn-font-size:              16px;
$btn-linehieght:             inherit;
$btn-color:                  palette(mono, white);
$btn-padding:                9px 28px 9px 28px;
$btn-margin:                 0;
$btn-text-align:             center;
$btn-text-transform:         inherit;
$border-btn:                 0px solid palette(blue, base);
$border-btn-white:           1px solid palette(mono, white);
